#logo-nav{
    display: flex;
    justify-content: space-between;
    background: gray;
    padding: 1rem;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
#cabecera img{
    width: 1024px;
    height: 450px;
}
#logo-nav{
    display: flex;
    justify-content: space-between;
    background: gray;
    padding: 1rem;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
   z-index: 10;
}
#logo-nav a{
    color: white;
    text-decoration: none;
}

header{
background: rgba(0,0,0,0.7);
width: 100%;
position: relative;;
<z-index: 100;
display: inline-block;
padding-top: 4rem;
}

nav{
float: left;
}
nav ul{
list-style: none;
overflow: hidden;
}
nav ul li{
float: left;
front-family: Arial, Helvetica, sans-serif;
front-size: 20px;
}
nav ul li a{
display: block;
padding: 20px;
color:#fff;
text-decoration: none;
}
nav ul li: hover{
background: #eca023;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
front-family: 'Open Sans';
}
.contenido{
max-width: 1100px;
width: 100%;
margin: 40px auto;
display: flex;
}
.mostrador{
width: 100%;
transition:.5s ease;
}
.mostrador .fila{
display: flex;
justify-content: space-between;
margin-bottom: 40px;
}
.mostrador .fila .item{
max-width: 210px;
padding: 30px;
height: 250px;
text-align: center;
margin: 0 10px;
cursor: pointer;
border-radius: 5px;
transition: .3s;
}
.mostrador.fila .item img{
width: 100%;

}